In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('data/Credit_Card_new.csv')    
data_old=pd.read_csv('data/UCI_Credit_Card.csv')

In [3]:
data.head()

,LIMIT_BAL,AGE,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,default.payment.next.month
0,20000.0,24,payment delay for two months,payment delay for two months,pay duly,pay duly,no consumption,no consumption,1
1,120000.0,26,pay duly,payment delay for two months,payment on time,payment on time,payment on time,payment delay for two months,1
2,90000.0,34,payment on time,payment on time,payment on time,payment on time,payment on time,payment on time,0
3,50000.0,37,payment on time,payment on time,payment on time,payment on time,payment on time,payment on time,0
4,50000.0,57,pay duly,payment on time,pay duly,payment on time,payment on time,payment on time,0

In [4]:
data_old.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [5]:
data=data.drop(['AGE'],axis=1)

In [6]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder

In [7]:
X=data.drop(['default.payment.next.month'],axis=1)

In [8]:
num_features=X.columns[X.dtypes!='O']

In [9]:
categorical_column=X.columns[X.dtypes=='O']

In [10]:
categorical_column

Index(['PAY_1', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6'], dtype='object')

In [11]:
data['PAY_3'].value_counts()

PAY_3
payment on time                   15764
pay duly                           5938
no consumption                     4085
payment delay for two months       3819
payment delay for three months      240
payment delay for four months        76
payment delay for seven months       27
payment delay for six months         23
payment delay for five months        21
payment delay for one month           4
payment delay for eight months        3
Name: count, dtype: int64

In [12]:
PAY_1 = ["no consumption", "pay duly", "payment on time", "payment delay for one month", "payment delay for two months","payment delay for three months","payment delay for four months","payment delay for five months","payment delay for six months","payment delay for seven months", "payment delay for eight months"]
PAY_2 = ["no consumption", "pay duly", "payment on time", "payment delay for one month", "payment delay for two months","payment delay for three months","payment delay for four months","payment delay for five months","payment delay for six months","payment delay for seven months", "payment delay for eight months"]
PAY_3 = ["no consumption", "pay duly", "payment on time", "payment delay for one month", "payment delay for two months","payment delay for three months","payment delay for four months","payment delay for five months","payment delay for six months","payment delay for seven months", "payment delay for eight months"]
PAY_4 = ["no consumption", "pay duly", "payment on time", "payment delay for one month", "payment delay for two months","payment delay for three months","payment delay for four months","payment delay for five months","payment delay for six months","payment delay for seven months", "payment delay for eight months"]
PAY_5 = ["no consumption", "pay duly", "payment on time", "payment delay for one month", "payment delay for two months","payment delay for three months","payment delay for four months","payment delay for five months","payment delay for six months","payment delay for seven months", "payment delay for eight months"]
PAY_6 = ["no consumption", "pay duly", "payment on time", "payment delay for one month", "payment delay for two months","payment delay for three months","payment delay for four months","payment delay for five months","payment delay for six months","payment delay for seven months", "payment delay for eight months"]

In [13]:
num_pipeline=Pipeline(
    
   steps= [
        ('std_scaler',StandardScaler()),
        ('imputer',SimpleImputer(strategy='median'))
        ]
)

In [84]:
cat_pipeline=Pipeline(
    steps=[
        ('Encoder',OrdinalEncoder(categories=[PAY_1,PAY_2,PAY_3,PAY_4])),
        ('imputer',SimpleImputer(strategy='most_frequent'))
    ]
)

In [85]:
processor=ColumnTransformer(
    [
    ('num',num_pipeline,num_features),
    ('cat',cat_pipeline,categorical_column)
    ]
)

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
y=data['default.payment.next.month']

In [18]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [19]:
X_train.head()

,LIMIT_BAL,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6
21753,80000.0,payment on time,payment on time,payment on time,payment on time,payment on time,payment on time
251,30000.0,payment on time,payment on time,payment on time,payment on time,payment on time,payment on time
22941,180000.0,payment on time,payment on time,pay duly,pay duly,pay duly,pay duly
618,60000.0,payment on time,payment on time,payment on time,payment on time,payment on time,payment on time
17090,130000.0,payment on time,payment on time,payment on time,payment on time,payment on time,payment on time

In [20]:
X_train_sc=processor.fit_transform(X_train)

In [21]:
X_train_sc

array([[-0.67235902,  2.        ,  2.        , ...,  2.        ,
         2.        ,  2.        ],
       [-1.05776818,  2.        ,  2.        , ...,  2.        ,
         2.        ,  2.        ],
       [ 0.0984593 ,  2.        ,  2.        , ...,  1.        ,
         1.        ,  1.        ],
       ...,
       [-0.90360452,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [-0.74944086,  2.        ,  2.        , ...,  2.        ,
         4.        ,  4.        ],
       [-0.05570437,  0.        ,  0.        , ...,  0.        ,
         0.        ,  0.        ]])

In [22]:
x_test_sc = processor.transform(X_test)

In [23]:
from sklearn.ensemble import RandomForestClassifier

In [24]:
params={'n_estimators': 300,
    'max_depth': 7,
    'min_samples_split': 8,
    'min_samples_leaf': 9,
    'max_features': 'sqrt'}

In [25]:
rfc = RandomForestClassifier(**params,random_state=42)

In [26]:
rfc.fit(X_train_sc,y_train)

RandomForestClassifier(max_depth=7, min_samples_leaf=9, min_samples_split=8,
                       n_estimators=300, random_state=42)

In [27]:
pred = rfc.predict(x_test_sc)

In [28]:
from sklearn.metrics import accuracy_score

In [29]:
accuracy_score(y_test,pred)

0.8206666666666667

In [30]:
rfc.score(X_train_sc,y_train)

0.8245416666666666

In [32]:
data.head()

,LIMIT_BAL,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,default.payment.next.month
0,20000.0,payment delay for two months,payment delay for two months,pay duly,pay duly,no consumption,no consumption,1
1,120000.0,pay duly,payment delay for two months,payment on time,payment on time,payment on time,payment delay for two months,1
2,90000.0,payment on time,payment on time,payment on time,payment on time,payment on time,payment on time,0
3,50000.0,payment on time,payment on time,payment on time,payment on time,payment on time,payment on time,0
4,50000.0,pay duly,payment on time,pay duly,payment on time,payment on time,payment on time,0

In [31]:
rfc.feature_importances_

array([0.04605027, 0.4370948 , 0.21806211, 0.10916863, 0.08255316,
       0.05668327, 0.05038775])

In [72]:
import pandas as pd

# Define the data
data_1 = [[20000, 'payment delay for two months', 'no consumption', 'pay duly', 
           'payment on time', 'payment delay for three months', 'pay duly']]

# Define column names
columns = ["LIMIT_BAL", "PAY_1", "PAY_2", "PAY_3", "PAY_4", "PAY_5", "PAY_6"]

# Convert to DataFrame
df = pd.DataFrame(data_1, columns=columns)

# Display the DataFrame
print(df)

   LIMIT_BAL                         PAY_1           PAY_2     PAY_3  \
0      20000  payment delay for two months  no consumption  pay duly

             PAY_4                           PAY_5     PAY_6
0  payment on time  payment delay for three months  pay duly

In [74]:
data1=processor.transform(df)

In [75]:
rfc.predict(data1)

array([1], dtype=int64)

In [34]:
X=data_old.drop(columns='default.payment.next.month',axis=1)

In [35]:
y=data_old['default.payment.next.month']

In [36]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=2)

In [37]:
scaler=StandardScaler()

In [38]:
X_sc=scaler.fit_transform(X_train)

In [39]:
X_test_sc=scaler.transform(X_test)

In [40]:
randomFc=RandomForestClassifier(**params)

In [41]:
randomFc.fit(X_sc,y_train)

RandomForestClassifier(max_depth=7, min_samples_leaf=9, min_samples_split=8,
                       n_estimators=300)

In [44]:
pred3=randomFc.predict(X_test_sc)

In [47]:
accuracy_score(y_test,pred3)

0.8236

In [48]:
randomFc.feature_importances_

array([0.01282674, 0.030392  , 0.00162468, 0.00290895, 0.00175984,
       0.00905919, 0.33309946, 0.13357152, 0.09305054, 0.05834376,
       0.06035156, 0.04699084, 0.02054644, 0.01763408, 0.01387197,
       0.01277286, 0.01223429, 0.01193502, 0.03354933, 0.02461886,
       0.02448152, 0.01669382, 0.01349924, 0.01418349])

In [51]:
rfc.feature_importances_

array([0.04605027, 0.4370948 , 0.21806211, 0.10916863, 0.08255316,
       0.05668327, 0.05038775])

In [54]:
data_old.head(1)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1

In [55]:
data.head(1)

,LIMIT_BAL,PAY_1,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,default.payment.next.month
0,20000.0,payment delay for two months,payment delay for two months,pay duly,pay duly,no consumption,no consumption,1

In [97]:
data=data.drop(columns=['LIMIT_BAL','PAY_6','PAY_5'],axis=1)

KeyError: "['LIMIT_BAL', 'PAY_6', 'PAY_5'] not found in axis"

In [89]:
caat=(X.dtypes=='o')
print(caat)

PAY_1    False
PAY_2    False
PAY_3    False
PAY_4    False
dtype: bool

In [90]:
processor=ColumnTransformer(
    [
    ('cat',cat_pipeline,caat)
    ]
)

In [91]:
X=data.drop(columns='default.payment.next.month')

In [92]:
y=data['default.payment.next.month']

In [80]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

In [96]:
processor.fit_transform(data)

ValueError: all features must be in [0, 4] or [-5, 0]

In [95]:
data

,PAY_1,PAY_2,PAY_3,PAY_4,default.payment.next.month
0,payment delay for two months,payment delay for two months,pay duly,pay duly,1
1,pay duly,payment delay for two months,payment on time,payment on time,1
2,payment on time,payment on time,payment on time,payment on time,0
3,payment on time,payment on time,payment on time,payment on time,0
4,pay duly,payment on time,pay duly,payment on time,0
...,...,...,...,...,...
29995,payment on time,payment on time,payment on time,payment on time,0
29996,pay duly,pay duly,pay duly,pay duly,0
29997,payment delay for four months,payment delay for three months,payment delay for two months,pay duly,1
29998,payment delay for one month,pay duly,payment on time,payment on time,1
29999,payment on time,payment on time,payment on time,payment on time,1

In [99]:
oe=OrdinalEncoder(categories=caat)

In [100]:
oe.fit_transform(X)

InvalidParameterError: The 'categories' parameter of OrdinalEncoder must be a str among {'auto'} or an instance of 'list'. Got PAY_1    False
PAY_2    False
PAY_3    False
PAY_4    False
dtype: bool instead.

In [102]:
data_old

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000.0,1,3,1,39,0,0,0,0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0
29996,29997,150000.0,1,3,2,43,-1,-1,-1,-1,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0
29997,29998,30000.0,1,2,2,37,4,3,2,-1,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1
29998,29999,80000.0,1,3,1,41,1,-1,0,0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1
29999,30000,50000.0,1,2,1,46,0,0,0,0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1

In [104]:
data1=data_old.drop(columns=['ID','SEX','EDUCATION','MARRIAGE','BILL_AMT1','BILL_AMT2','BILL_AMT3','BILL_AMT4','BILL_AMT5','BILL_AMT6','PAY_AMT1','PAY_AMT2','PAY_AMT3','PAY_AMT4','PAY_AMT5','PAY_AMT6'])

In [106]:
data2=data1.drop(columns=['LIMIT_BAL','AGE','PAY_5','PAY_6'])

In [108]:
data2

       PAY_0  PAY_2  PAY_3  PAY_4  default.payment.next.month
0          2      2     -1     -1                           1
1         -1      2      0      0                           1
2          0      0      0      0                           0
3          0      0      0      0                           0
4         -1      0     -1      0                           0
...      ...    ...    ...    ...                         ...
29995      0      0      0      0                           0
29996     -1     -1     -1     -1                           0
29997      4      3      2     -1                           1
29998      1     -1      0      0                           1
29999      0      0      0      0                           1

[30000 rows x 5 columns]

In [111]:
X=data2.drop(columns='default.payment.next.month')

In [112]:
y=data2['default.payment.next.month']

In [113]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=2)

In [114]:
rfc1=RandomForestClassifier(**params)

In [115]:
rfc1.fit(X_train,y_train)

RandomForestClassifier(max_depth=7, min_samples_leaf=9, min_samples_split=8,
                       n_estimators=300)

In [116]:
data_pred=rfc1.predict(X_test)

In [117]:
accuracy_score(y_test,data_pred)

0.82

In [119]:
rfc1.feature_importances_

array([0.57331571, 0.25065365, 0.12587965, 0.05015099])

### try every possible outcome with the feature extraction and the feature selection but the best outcome
### and the credit card new data is the latest data by deleting the irrelevant features  
### so the model performs well so the speed of execution is greater